* {
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
    margin:0px;
}
:root{
    --lichtblauw:#72AFA6;
    --donkerblauw:#152a42;
    --geel:#F4EB34;
}

/* header */
nav {
    position:fixed;
    width:100%;
    height:120px;
    background: rgba(255, 255, 255, 0.97);
    top:0px;
    left:0px; 
    z-index:1;
    
}
.LogoViniMini {
    width:141.5px;
    height:100px;
    margin-top:10px;
}
.winkelwagen{
    width:45px;
}
.menuhome{
    width: 45px;
}

/* Navigatie */
nav ul li:nth-child(4){
    display:none;
}
nav ul li:nth-child(5){
    display:none;
}
nav ul li:nth-child(6){
    display:none;
}
nav ul li:nth-child(7){
    display:none;
}
nav ul li:nth-child(8){
    display:none;
}
nav ul li:nth-child(9){
    display:none;
}
nav > ul {
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left:-40px;  
}

/* welkomstbericht */
h1 {
    font-family: Montserrat;
    font-size: 2.3em;
    font-weight: 700;
    color: var(--lichtblauw);
}
.welkomstbericht{
    position:relative;
    margin-top: 150px;
}

/* notificatieblok */
h2{
    font-family: Montserrat;
    font-size: 1.4em;
    font-weight: 600;
    color: var(--donkerblauw);
}
li{
    font-family: Montserrat;
    font-size: 1em;
    font-weight: 400;
    color: var(--donkerblauw);
    line-height: 1.4em;
}
main{
    margin: 20px;
}
.notificatie{
    width: 100%;
    height: 200px;
    border-radius:27.5px;
    margin-top: 20px;
    margin-bottom:60px;
    background-color: var(--geel);
    display:flex;
    flex-direction:column;
    row-gap: 35px
}

.notificatie > h2{
    margin-top:30px;
    margin-left: 15px;
}

/* buttons/links */

h3{
   color: var(--lichtblauw);
}
.flexy{
    text-align:center;
}
.beschrijving{
    max-width: 238px;
    margin:auto;
    
}
.buttons > ul{
    list-style: none;
    margin-left:-40px;
    margin-top:10px;
    
}
.imginfo{
    width:42px;
}
.buttons > ul > li{
    margin-top:15px;
    margin-bottom:15px;
    /* display:flex;
    flex-direction:column;
    justify-content:center; */
}
/* de woorden in strong moeten linkjes worden */
strong{
    color: var(--lichtblauw);
}
.infoknop{
    border: 1px solid #72afa6;
    display:flex;
    justify-content:center;
    font-weight: 700;
    border-radius: 27.5px;
    color:var(--lichtblauw);
    letter-spacing: 2px;
    font-size: 12px;
    line-height: 22px;
    padding: 15px 30px;
}
.flexy > a{
    display:flex;
    justify-content:center;
    margin-bottom:60px;  
}
.buttons > ul > a > li:hover{
background-color:var(--lichtblauw);
color:white;
}
a{
    color:var(--lichtblauw);
    text-decoration: none;
}

/* button kleur is niet accessible */

/* footer */

h4{
    color: var(--lichtblauw);
}
#certifiedB{
    padding:0px 30px;
    margin-right: 80px;
}
.footerul{
    list-style: none;
    padding-top:0px;
    min-width: 195px;
}
footer > p{
    padding: 30px;
}

@media screen and (min-width: 975px){
    
    /* header */
/* nav {
    position:fixed;
    width:100%;
    height:120px;
    background: rgba(255, 255, 255, 0.97);
    top:0px;
    left:0px; 
    z-index:1;
} */
nav > ul > li > a{
    color:var(--donkerblauw);
}
/* .LogoViniMini {
    width:141.5px;
    height:100px;
    margin-top:10px;
} */
/* .winkelwagen{
    width:45px;
}
.menuhome{
    width: 45px;
} */

/* Navigatie */
.navpijltje{
    width:25px;
    height:19.2px;
}
nav ul li:nth-child(1){
    display:none;
}
nav ul li:nth-child(3){
    display:none;
}
nav ul li:nth-child(4){
    display:block;
}
nav ul li:nth-child(5){
    display:block;
}
nav ul li:nth-child(6){
    display:block;
}
nav ul li:nth-child(7){
    display:block;
}
nav ul li:nth-child(8){
    display:block;
}
nav ul li:nth-child(9){
    display:block;
}
/* nav > ul {
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left:-40px;  
} */


/* welkomstbericht */
#desktopwelkom{
    display:flex;
    margin-top: 180px;
}
/* h1 {
    font-family: Montserrat;
    font-size: 2.3em;
    font-weight: 700;
    color: var(--lichtblauw);
} */
.welkomstbericht{
    position:relative;
    margin-top: 0px;
    margin-left: 30px;
    width:50%;
}

/* notificatieblok */
/* h2{
    font-family: Montserrat;
    font-size: 1.4em;
    font-weight: 600;
    color: var(--donkerblauw);
} */
/* li{
    font-family: Montserrat;
    font-size: 1em;
    font-weight: 400;
    color: var(--donkerblauw);
    line-height: 1.4em;
}
main{
    margin: 20px;
} */
.notificatie{
    width: 50%;
    height: 200px;
    border-radius:27.5px;
    margin-top: 0px;
    margin-bottom:60px;
    background-color: var(--geel);
    display:flex;
    flex-direction:column;
    row-gap: 35px
}

/* .notificatie > h2{
    margin-top:30px;
    margin-left: 15px;
} */



/* buttons/links */

/* h3{
    color: var(--lichtblauw);
 }
 .flexy{
     text-align:center;
 }
 .beschrijving{
     max-width: 238px;
     margin:auto;
     
 } */
 .buttons{
    display:flex;
    justify-content: space-evenly;
    /* align-items: center; */
 }
 /* .buttons > ul{
     list-style: none;
     margin-left:-40px;
     margin-top:10px;
     
     
 } */
 /* .imginfo{
     width:42px;
 }
 .buttons > ul > li{
     margin-top:15px;
     margin-bottom:15px;
 } */
 /* de woorden in strong moeten linkjes worden */
 /* strong{
     color: var(--lichtblauw);
 }
 .infoknop{
     border: 1px solid #72afa6;
     display:flex;
     justify-content:center;
     font-weight: 700;
     border-radius: 27.5px;
     color:var(--lichtblauw);
     letter-spacing: 2px;
     font-size: 12px;
     line-height: 22px;
     padding: 15px 30px;
 } */
 /* .flexy > a{
     display:flex;
     justify-content:center;
     margin-bottom:60px;  
 }
 .buttons > ul > a > li:hover{
 background-color:var(--lichtblauw);
 color:white;
 }
 a{
     color:var(--lichtblauw);
     text-decoration: none;
 } */

 /* footer */

#footerflex{
    display: flex;
}
/* h4{
    color: var(--lichtblauw);
} */
/* #certifiedB{
    padding:30px 30px;
}
.footerul{
    list-style: none;
    padding: 30px;
}
footer > p{
    padding: 30px;  
} */
}