* {
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
    margin:0px;
}
:root{
    --lichtblauw:#72AFA6;
    --donkerblauw:#152a42;
    --geel:#F4EB34;
}

/* header */
nav {
    position:fixed;
    width:100%;
    height:120px;
    background: rgba(255, 255, 255, 0.97);
    top:0px;
    left:0px; 
    z-index:1;
}
nav a{
    text-decoration: none;
}
.Logo-ViniMini {
    width:141.5px;
    height:100px;
    margin-top:10px;
}
.shopping-cart{
    width:45px;
}

/* Navigatie */
nav ul li:nth-child(4){
    display:none;
}
nav ul li:nth-child(5){
    display:none;
}
nav ul li:nth-child(6){
    display:none;
}
nav ul li:nth-child(7){
    display:none;
}
nav ul li:nth-child(8){
    display:none;
}
nav ul li:nth-child(9){
    display:none;
}
nav ul li:nth-child(10){
    display:none;
}
nav ul li:nth-child(11){
    display:none;
}
nav > ul {
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left:-40px;  
}

/* welkomstbericht index*/
h1 {
    font-family: Montserrat;
    font-size: 2.3em;
    font-weight: 700;
    color: var(--lichtblauw);
}
.welcome-message{
    position:relative;
    margin-top: 150px;
}

/* welkomstbericht agenda*/

.welcome-message-agenda{
    position:relative;
    margin-top: 150px;
}

/* notificatieblok */
h2{
    font-family: Montserrat;
    font-size: 1.4em;
    font-weight: 600;
    color: var(--donkerblauw);
}
li{
    font-family: Montserrat;
    font-size: 1em;
    font-weight: 400;
    color: var(--donkerblauw);
    line-height: 1.4em;
}
main{
    margin: 20px;
}
.notification{
    width: 100%;
    height: 200px;
    border-radius:27.5px;
    margin-top: 20px;
    margin-bottom:60px;
    background-color: var(--geel);
    display:flex;
    flex-direction:column;
    row-gap: 35px
}

.notification > h2{
    margin-top:30px;
    margin-left: 15px;
}

/* kalender */

.calender{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:50px;
}
.month{
    color:var(--donkerblauw);
    font-size:38px;
    margin:0px;
}
th{
    font-size: 16px;
    color:var(--donkerblauw);
    min-width: 40px;  
}
td{
    color:var(--donkerblauw);
    width:50px;
    height:50px;
    text-align:center;
}
tr > td {
    border:1px solid var(--donkerblauw);;
} 
td > p{
    display:none;
}

/* buttons/links */

h3{
   color: var(--lichtblauw);
}
.flex-lists{
    text-align:center;
}
.description{
    max-width: 238px;
    margin:auto;
}
.buttons{
    margin-top:100px;
    margin-bottom: 130px;
}
.buttons > ul{
    list-style: none;
    margin-left:-40px;
    margin-top:10px;
}
.img-info{
    /* width:42px; */
    height:42px;
}
.buttons > ul > li{
    margin-top:15px;
    margin-bottom:15px;
}
/* de woorden in strong moeten linkjes worden */
strong{
    color: var(--lichtblauw);
}
button{
    border: 1px solid #72afa6;
    background-color: white;
    display:flex;
    justify-content:center;
    font-weight: 700;
    border-radius: 27.5px;
    color:var(--lichtblauw);
    letter-spacing: 2px;
    font-size: 12px;
    line-height: 22px;
    padding: 15px 30px;
    margin:auto;
    transition-duration: 300ms;
}
button:hover{
    background-color:var(--lichtblauw);
    color:white;
}
/* button kleur is niet accessible */

/* footer */

h4{
    color: var(--lichtblauw);
}
#certified-B{
    padding:0px 30px;
    margin-right: 80px;
    margin-bottom: 25px;
}
.footer-ul{
    list-style: none;
    min-width: 195px;
    margin-bottom: 25px;
}
footer > p{
    padding: 30px;
}

@media screen and (min-width: 750px){

    /* kalender */

    .calender{
        background-color: white;
        border-radius:27.5px;
        margin-top:20px;
        margin-bottom:20px;
        padding: 10px;
        display:flex;
        flex-direction:column;
        align-items:center; 
    }
    .month{
        color:var(--donkerblauw);
        font-size:45px;
        margin:0px;
    }
    th{
        font-size: 36px;
        color:var(--donkerblauw);
        min-width: 12vw;  
    }
    td{
        vertical-align: text-top;
        text-align:left;
        color:var(--donkerblauw);
        height:200px;
    }
    /* .calender > table{
        width:270px;
        height:270px;
        margin-bottom:20px;
    } */
    tr > td {
        border:1px solid var(--donkerblauw);
    }
    /* td:hover{
        background-color: var(--geel);
    } */
    td > p{
        display:block;
        background-color: var(--geel);
    }
}

@media screen and (min-width: 845px){

   /* Infobuttons */
    .buttons{
        display:flex;
        justify-content: space-evenly;
     }

    /* footer */
     #footer-flexbox{
        display: flex;
        justify-content: space-evenly;
    } 
}  

@media screen and (min-width: 975px){
    
    /* header */
nav > ul > li > a{
    color:var(--donkerblauw);
}

/* Navigatie */
.nav-arrow{
    width:25px;
    height:19.2px;
    margin-bottom:-4px;
}
nav ul li:nth-child(1){
    display:none;
}
nav ul li:nth-child(3){
    display:none;
}
nav ul li:nth-child(4){
    display:none;
}
nav ul li:nth-child(5){
    display:block;
}
nav ul li:nth-child(6){
    display:block;
}
nav ul li:nth-child(7){
    display:block;
}
nav ul li:nth-child(8){
    display:block;
}
nav ul li:nth-child(9){
    display:block;
}
nav ul li:nth-child(10){
    display:block;
}
nav ul li:nth-child(11){
    display:block;
}
nav ul li:nth-child(12){
    display:block;
}

/* welkomstbericht index*/
#desktop-welcome{
    display:flex;
    margin-top: 180px;
}
.welcome-message{
    position:relative;
    margin-top: 0px;
    margin-left: 30px;
    width:50%;
}

/* welkomstbericht agenda*/

#desktop-welcome-agenda{
    display:flex;
    margin-top: 180px;
}
.welcome-message-agenda{
    position:relative;
    margin-top: 0px;
    margin-left: 30px;
    width:100%;
}

/* notificatieblok */

.notification{
    width: 50%;
    height: 200px;
    border-radius:27.5px;
    margin-top: 0px;
    margin-bottom:60px;
    background-color: var(--geel);
    display:flex;
    flex-direction:column;
    row-gap: 35px
}
}